.board-details {
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    
    &>* {
        margin: 0 4px;
        width: 272px;
        border-radius: 3px;
        background-color: $clr13;
    }
}
