.board-details {
    padding: 0 8px;
    position: relative;
    top: 12px;
    height: calc(100vh - 102px);
    overflow-x: auto;
}

@media (max-width:802px) {
    .board-details {
        height: calc(100vh - 138px);
    }
}

@media (max-width:604px) {
    .board-details {
        height: calc(100vh - 180px);
    }
}

@media (max-width:490px) {
    .board-details {
        height: calc(100vh - 98px);
    }
}