
.home{
   display: flex;
   flex-direction: column;
}


.home-main-layout {
   height: 315px;
   justify-content: center;
   gap: 40px;
   padding-bottom: 75;

   // margin: 40px;
   // margin-top: 150px;
}

.home-left-container {
   min-height: 315px;
   max-width: 580px;
   h1 {
      padding: 0;
      font-size: 44px;
   }
   p {
      margin: 0;
      line-height: 30px;
      margin-bottom: 20px;
      font-size: 20px;
   }
   Button {
      font-size: 18px;
      max-width: 215px;
      min-height: 44px;
      border-radius: 6px;
      background-color: #0065FF;
   }
}

.hero-img-container {
   max-width: 375px;
   min-height: 315px;

}