.screen {
    position: fixed;
    width: unset;
    inset: 0;
    background: rgba(0, 0, 0, 0.507);
    margin: 0;
    // filter: blur(4px);
    opacity: .3;
    z-index: 10;
}

.task-details {
    padding-top: 20px;
    z-index: 100;
    background-color: $clr11;
    margin: auto;
    margin-top: -2px;
    min-height: 90.5vh;
    min-width: 768px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .inner-container {
        padding: 8px;
    }

    .task-details-cover-color {
        height: 116px;
        width: 100%;
        margin: -20px auto;
        margin-bottom: 14px;
    }

    .task-details-cover-img {
        width: 100%;
        height: 200px;
        margin-top: -20px;
        background-color: lightblue;
        margin-bottom: 12px;


        .cover-img-container {
            width: 400px;

            img {
                aspect-ratio: 2/1;
                // height: 160px;
                object-fit: cover;
            }

            // width: 100%;
            margin: 0 auto;
            // margin-bottom: 10px;
            // background-position: center;
            // background-repeat: no-repeat;
        }

    }

    .task-details-content {
        .task-details-left-icon {
            margin-left: 7px;
            margin-right: 16px;
        }

        flex-grow: 1;
        margin-top: 10px;
        // margin-inline-start: 36px;

        h1 {
            margin-bottom: 7px;
        }


        .task-desc {
            margin-bottom: 6px;

            .desc-header {
                margin: 0 0 8px 0;

                h3 {
                    position: relative;
                    right: 4px;
                    margin-top: 2px;

                    // display: inline-block;
                    font-weight: 500;
                }
            }


            label:hover {
                cursor: pointer;
            }

            textarea {
                margin-bottom: 10px;
                background-color: $clr-opa2;
                margin-left: 44px;
                width: 88.5%;
                font-size: 14px;
                padding: 8px 12px;
                // margin: 4px 0;
                cursor: pointer;

                &:hover {
                    background-color: $clr13;
                }

                &:focus {
                    background-color: $clr10;
                    box-shadow: inset 0 0 0 2px #0079bf;
                }
            }

            .btn {
                margin-inline-end: 4px;
                margin-inline-start: 44px;
            }

            .btn-cancel {
                background-color: inherit;
                color: inherit;
            }
        }

        .upper-content {
            margin-bottom: 20px;
            margin-left: 36px;
        }
    }

    .credit-card-icon {
        color: $clr8;
        margin-top: 2.4px;
        // margin-left: 3px;

    }


    .icon-container {
        justify-content: center;
        align-items: center;
        min-width: 45px;
        min-height: 45px;
        position: absolute;
        right: 4px;
        top: 4px;

        &:hover {
            cursor: pointer;
            // background-color: darken($color: $clr11, $amount: 5);
            background-color: rgba(0, 0, 0, 0.096);
            border-radius: 50%;
        }

        img {
            filter: invert(42%) sepia(5%) saturate(2509%) hue-rotate(180deg) brightness(92%) contrast(77%);
        }
    }

    label {
        margin-top: 28px;
        margin-left: 34px;
    }

}

.task-details-header {
    width: 100%;

    .left-side {
        gap: 10px;
        margin-left: 16px;

        .title {
            h2 {
            }
        }

        .title {
            gap: 7px;

            h1 {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
            }

            h2 {
                color: $clr8;
                font-size: 14px;
                font-weight: 400;
                margin: 0 0 0 1px;

                span {
                    cursor: pointer;
                    text-decoration: underline;

                    &:hover {
                        color: $clr1;
                    }
                }
            }
        }
    }
}

.task-main-layout {
    // justify-content: space-between;

    .task-previews {}

    .task-nav-bar {
        margin-right: 12px;
    }

}

.due-date-preview-container {

    h1 {
        font-size: 12px;
        font-weight: 500;
        color: $clr8;
    }

    .date-preview {
        
        min-width: 155px;
        max-width: 155px;
        padding: 12px 8px;
        display: flex;
        flex-direction: column;
        height: 15px;
        justify-content: center;
        margin-top: 14px;
        margin-bottom: 15px;

        h1 {

            margin: auto;
            font-size: 12px;
            color: $clr8;
        }

        cursor: pointer;
        text-align: start;
        background-color: $clr-opa2;
        // margin: auto 0;
        // padding: 16px 12px 0;
        border-radius: 3px;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;

    }
}