.screen {
    position: fixed;
    width: unset;
    inset: 0;
    background: black;
    margin: 0;
    // filter: blur(4px);
    opacity: .68;
    z-index: 10;
}

.task-details {
    z-index: 100;
    // padding: 20px;
    background-color: $clr11;
    min-height: 80.5vh;
    min-width: 72vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .task-details-cover-color {
        height: 116px;
        width: 100%;
        // margin: -20px auto;
        margin-bottom: 10px;
    }

    .task-details-cover-img {
        width: 100%;
        height: 200px;
        background-color: lightblue;

        .cover-img-container {
            width: 400px;

            img {
                aspect-ratio: 2/1;
                // height: 160px;
                object-fit: cover;
            }

            // width: 100%;
            margin: 0 auto;
            // margin-bottom: 10px;
            // background-position: center;
            // background-repeat: no-repeat;
        }

    }

    .task-details-content {
        flex-grow: 1;
        margin-inline-end: 16px;


        .task-desc {

            h3 {
                display: inline-block;
                margin: 12px 8px 12px 0;
                font-weight: 500 ;
            }

            label:hover {
                cursor: pointer;
            }
            
            textarea {
                background-color: $clr-opa2;
                width: 100%;
                font-size: 14px;
                padding: 8px 12px;
                margin: 4px 0;
                cursor: pointer;

                &:hover {
                    background-color: $clr13;
                }

                &:focus{
                    background-color: $clr10;
                    box-shadow: inset 0 0 0 2px #0079bf;
                }
            }

            .btn {
                margin-inline-end: 4px;
            }

            .btn-cancel{
                background-color: inherit;
                color: inherit;
            }
        }
    }

    .credit-card-icon {
        color: $clr8;
        margin-top: 2.4px;
        margin-left: 3px;

    }


    .icon-container {
        justify-content: center;
        align-items: center;
        min-width: 45px;
        min-height: 45px;
        position: absolute;
        right: 4px;
        top: 4px;

        &:hover {
            cursor: pointer;
            // background-color: darken($color: $clr11, $amount: 5);
            background-color: rgba(0, 0, 0, 0.096);
            border-radius: 50%;
        }

        img {
            filter: invert(42%) sepia(5%) saturate(2509%) hue-rotate(180deg) brightness(92%) contrast(77%);
        }
    }

    label {
        margin-top: 28px;
        margin-left: 34px;
    }

}

.task-details-header {
    width: 100%;

    .left-side {
        gap: 18px;

        .title {
            gap: 7px;

            h1 {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
            }

            h2 {
                color: $clr8;
                font-size: 14px;
                font-weight: 400;
                margin: 0 0 0 4px;

                span {
                    cursor: pointer;
                    text-decoration: underline;

                    &:hover {
                        color: $clr1;
                    }
                }
            }
        }
    }
}

.task-main-layout {
    justify-content: space-between;

    .task-previews {}

    .task-nav-bar {}

}

.date-preview {
    text-align: start;
    background-color: $clr-opa2;
    // margin: auto 0;
    padding: 16px 12px 0;
    border-radius: 3px;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;

}