.task-details {
    z-index: 20;
    background-color: $clr11;
    margin: 40px 0;
    min-height: 90.5vh;
    min-width: 768px;
    position: relative;
    top: 3px;
    border-radius: 3px;

    ::-webkit-scrollbar {
        display: none;
    }

    .inner-container {
        padding: 8px;
    }

    .task-details-cover-color {
        min-height: 116px;
        width: 100%;
        margin-bottom: 0px;
        border-radius: 3px 3px 0 0;
    }

    .task-details-cover-img {
        height: 160px;
        background-color: lightblue;
        border-radius: 3px 3px 0 0;

        .cover-img-container {
            width: 400px;
            margin: 0 auto;

            img {
                aspect-ratio: 2.5/1;
                object-fit: cover;
            }
        }
    }

    .task-details-content {
        flex-grow: 1;
        margin-top: 10px;
        max-width: 550px;

        .task-details-left-icon {
            margin-left: 7px;
            margin-right: 16px;
        }

        h1 {
            margin-bottom: 7px;
        }

        .upper-content {
            margin-bottom: 20px;
            margin-left: 36px;
            max-width: 514px;
            flex-wrap: wrap;
            row-gap: 14px;
            column-gap: 4px;
        }
    }

    .credit-card-icon {
        color: $clr8;
        margin-top: 2.4px;
        border-radius: 30px;
    }

    .icon-container {
        justify-content: center;
        align-items: center;
        min-width: 45px;
        min-height: 45px;
        position: absolute;
        right: 4px;
        top: 4px;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.096);
            border-radius: 50%;
        }

        img {
            filter: invert(42%) sepia(5%) saturate(2509%) hue-rotate(180deg) brightness(92%) contrast(77%);
        }
    }

    label {
        margin-top: 28px;
        margin-left: 34px;
    }
}

.task-main-layout {
    justify-content: space-between;

    .task-nav-bar {
        margin-right: 12px;
    }
}

@media (max-width:750px) {
    .task-details {
        min-width: 90%;

        .task-main-layout {
            flex-direction: column;
        }

        .task-details-content {
            max-width: 629px;
        }

        .inner-container {
            padding: 8px 20px 8px 8px;
        }
    }
}

@media (max-width:590px) {
    .task-details {
        min-width: 90%;

        .task-details-content {
            max-width: 472px;
        }
    }
}

@media (max-width:490px) {
    .task-details {
        min-width: 100%;
        min-height: 106.5vh;
        top: 0;
        margin: 0;

        .task-details-content {
            max-width: 356px;
        }
    }
}