.board-list {
   max-width: 825px;
   color: $clr1;
   margin: auto;

   .title {
      .close {
         background-color: $clr11;
         &:hover{
            cursor: pointer;
            background-color: darken($color: $clr11, $amount: 5);
            border-width: 15px;
         }

         img {
            max-width: 20px;
         }

      }

      justify-content: space-between;

      h2 {
         font-size: 20px;
         margin: 0;

      }

      .icon-container {
         height: 32px;
         width: 32px;
      }
   }

   h3 {
      color: $clr8;
      font-size: 14px;
      margin: 0;
   }
}