._3DrR3DNGRm88rQ {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 4px;
    margin: 0 -4px;
    overflow-x: hidden;
}

.isvr-Reb94vq0g {
    margin: 0;
    height: 72px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 3px;
    position: relative;
    width: 134px;
    height: 34px;
    border: 1px solid rgba(9, 30, 66, 0.08);
}

.isvr-Reb94vq0g._2pFmKTmyH7T3W8 ._28YCxuL0b0PLJg {
    background: #5E6C84;
    opacity: 0.3;
}

.isvr-Reb94vq0g ._28YCxuL0b0PLJg {
    height: 28px;
    border-radius: 3px 3px 0 0;
}

.isvr-Reb94vq0g ._2_NkiO6b3w-TwP {
    padding: 6px 4px 4px 6px;
    position: relative;
}

.isvr-Reb94vq0g._2pFmKTmyH7T3W8 ._3zyygYjXmBCuZ8,
.isvr-Reb94vq0g._2pFmKTmyH7T3W8 ._2YkoNjZbIBZjxA,
.isvr-Reb94vq0g._2pFmKTmyH7T3W8 ._2TkMxnIj6-MZD9,
.isvr-Reb94vq0g._2pFmKTmyH7T3W8 ._3K8WSoeRLtPYZP {
    background: #5E6C84;
    opacity: 0.3;
}

.isvr-Reb94vq0g ._2_NkiO6b3w-TwP ._2YkoNjZbIBZjxA {
    width: 98px;
    margin-top: 4px;
}

.isvr-Reb94vq0g ._2_NkiO6b3w-TwP ._3zyygYjXmBCuZ8,
.isvr-Reb94vq0g ._2_NkiO6b3w-TwP ._2YkoNjZbIBZjxA {
    background: #6B778C;
    height: 4px;
    border-radius: 2px;
    width: 122px;
}

.isvr-Reb94vq0g ._2_NkiO6b3w-TwP ._3KUp4qsMp7f0nZ {
    display: flex;
    margin-top: 6px;
}

.isvr-Reb94vq0g ._2_NkiO6b3w-TwP ._3KUp4qsMp7f0nZ ._2TkMxnIj6-MZD9 {
    width: 16px;
    height: 6px;
    background: #6B778C;
    border-radius: 2px;
    margin-right: 2px;
}

.isvr-Reb94vq0g ._2_NkiO6b3w-TwP ._3K8WSoeRLtPYZP {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 4px;
    bottom: 4px;
    background: #6B778C;
    border-radius: 5px;
}

.isvr-Reb94vq0g._2pFmKTmyH7T3W8._3bvxiZCqVvPKiY {
    background: #5E6C84;
    opacity: 0.3;
}

.isvr-Reb94vq0g.c2K-XOKpsarOtb,
.isvr-Reb94vq0g._3bvxiZCqVvPKiY {
    height: 62px;
}

.isvr-Reb94vq0g._3bvxiZCqVvPKiY ._2_NkiO6b3w-TwP {
    position: absolute;
    bottom: 4px;
}

.isvr-Reb94vq0g._2pFmKTmyH7T3W8._3bvxiZCqVvPKiY ._3zyygYjXmBCuZ8,
.isvr-Reb94vq0g._2pFmKTmyH7T3W8._3bvxiZCqVvPKiY ._2YkoNjZbIBZjxA {
    background: #FFFFFF;
    opacity: 1;
}

.isvr-Reb94vq0g._3bvxiZCqVvPKiY ._2_NkiO6b3w-TwP ._3zyygYjXmBCuZ8 {
    width: 116px;
}

.isvr-Reb94vq0g._2pFmKTmyH7T3W8._3bvxiZCqVvPKiY ._3zyygYjXmBCuZ8,
.isvr-Reb94vq0g._2pFmKTmyH7T3W8._3bvxiZCqVvPKiY ._2YkoNjZbIBZjxA {
    background: #FFFFFF;
    opacity: 1;
}

.isvr-Reb94vq0g._3bvxiZCqVvPKiY ._2_NkiO6b3w-TwP ._2YkoNjZbIBZjxA {
    width: 92px;
}

.isvr-Reb94vq0g._3bvxiZCqVvPKiY ._2_NkiO6b3w-TwP ._3KUp4qsMp7f0nZ {
    display: none;
}

.isvr-Reb94vq0g._3bvxiZCqVvPKiY ._2_NkiO6b3w-TwP ._3K8WSoeRLtPYZP {
    display: none;
}