.menu-modal {
   padding: 12px;
   max-width: 340px;
   box-shadow: 7px 5px 20px -4px rgb(0 0 0);
   background-color: $clr13;

   .title-container {
      padding: 8px 10px;
      align-items: center;

      h1 {
         font-size: 18px;
      }

      .close-btn {
         position: relative;
         left: 110px;
      }
   }

   .user-container {
      align-self: flex-start;

      &:hover {
         cursor: pointer;
      }
   }

   .activities-header {
      align-content: center;
      gap: 10px;
      padding: 8px 8px 14px 20px;

      .activity-icon-container {
         font-size: 14px;
         display: flex;
      }

      h3 {
         margin-top: 2.7px;
         font-size: 14px;
         color: $clr1;
      }

      &:hover {
         background-color: $hover-clr;
         cursor: pointer;
      }
   }

   .archived-items {
      padding: 8px 8px 8px 20px;
      gap: 12px;
      cursor: pointer;
      align-items: center;

      h3 {
         font-weight: 500;
         margin-top: 1px;
         font-size: 14px;
         color: $clr1;
      }

      &:hover {
         background-color: $hover-clr;
      }
   }

   .menu-layout {
      padding: 0 15px 15px;
      gap: 10px;
      min-height: 100vh;
      min-width: 316px;
   }

   .menu-modal-activities {
      gap: 8px;
      align-items: center;

      .txt {
         gap: 5px;

         .date {
            font-size: 13px;
            font-weight: 400;
         }

         .board-name {
            font-size: 16px;
            font-weight: 500;
         }

         h1 {
            font-size: 16px;
            font-weight: 500;

            span {
               font-size: 14px;
               font-weight: 400;
            }
         }

         a {
            font-size: 14px;
            font-weight: 400;
            text-decoration: underline;

            &:hover {
               cursor: pointer;
            }
         }
      }
   }
}

.archived-item-container {

   .span-container {
      margin: 8px 0;
      padding: 0 8px;

      &>*:not(:nth-child(2n)) {
         text-decoration: underline;
         cursor: pointer;
      }

      &:hover {
         color: #172b4d;
      }
   }
}