.add-group {

    margin-inline-end: 8px;
    align-self: flex-start;
    padding: 4px;
    max-height: calc(86vh);
    margin: 0 4px;
    min-width: 272px;
    border-radius: 3px;
    background-color: $clr13;

    // form {
    //     padding: 2px 4px 4px 4px;
    // }

    input {
        display: block;
        width: 100%;
        padding: 8px 12px;
        outline: none;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px #0079bf;
        line-height: 20px;
    }

    button {
        // float: left;
        margin-inline-end: 4px;
    }

    .add-group-actions {
        margin-top: 4px;
        position: relative;
    }

}
.add-group-btn {
    @include boarder-header-btn;
    color: #fff;
    min-width: 272px;
    height: 36px;

    .add-icon {
        margin-inline-end: 4px;
        font-size: 16px;
    }

    .add-icon::before {
        background-image: url(../../img/icon/add.svg);
        filter: invert(97%) sepia(0%) saturate(7451%) hue-rotate(98deg) brightness(115%) contrast(101%);
        background-size: 16px 16px;
        display: inline-block;
        width: 16px;
        height: 14px;
        content: "";
    }

    &:hover{
        background-color: #8080808a;
    }

    span {
        color: #172b4d;
    }
}