.board-preview-btn {
   cursor: pointer;
   background-color: #091e420a;
   // min-height: 104px;
   // min-width: 194px;
   // margin: 14px 0;
   padding: 0;

   &:hover{
      filter: brightness(70%);
      background-color: #091e4223;
   }

   div {
      margin: auto;
      // min-width: 100%;
      // min-height: 100%;
      border-radius: 4px;
   }

   h3 {
      color: #172b4d;
      margin: auto;
      font-size: 14px;
   }
}

.new-board-img-container {
   max-width: 200px;
   padding: 8px;
   border-radius: 3px;
}

.new-board-menu {
   justify-content: space-evenly;
   align-items: center;
   min-height: 700px;
   min-width: 360px;
   padding: 0 50px;

   h2 {
      align-self: flex-start;
   }

   label {
      align-self: flex-start;
      margin-bottom: 4px;
      font-size: 12px;
      font-weight: 500;
   }

   input {
      @include nice-input;
      // box-shadow: inset 0 0 0 2px #0079bf;
      // font-size: 14px;
      // line-height: 20px;
      // font-weight: 400;
      // border-radius: 3px;
      // outline: none;
      // border: none;
      // padding: 8px 12px;
   }
}

.create-board-btn {
   width: 92%;

}

.edit-new-board-title {
   font-size: 14px;
}


.new-board-bgs-container {
   margin-top: 4px;
   gap: 5px;

   .prev-bgImage {

      // height: 100%;

      width: 64px;
      // height: 40px;
      img {
        
         object-fit: cover;
         height: 40px;
        
         border-radius: 3px;
         cursor: pointer;
      }

      &:hover {
         filter: brightness(89%);
         // opacity: 0.7;
         // border-width: 15px;
      }

   }
}

.selected-bg {
   box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #0079BF;
   background-image: url();
}


.new-board-colors-container {
   gap: 5px;
}

.prev-bgColor {
   width: 40px;
   height: 32px;
   border-radius: 3px;
   cursor: pointer;

   &:hover {
      filter: brightness(87%);
   }
}

// .prev-bgColor1 {
//    &:hover {
//       background-color: darken($color: $clr-bgs1, $amount: 5)
//    }

//    background: $clr-bgs1;
// }

// .prev-bgColor2 {
//    &:hover {
//       background-color: darken($color: $clr-bgs2, $amount: 5)
//    }

//    background: $clr-bgs2;
// }

// .prev-bgColor3 {
//    &:hover {
//       background-color: darken($color: $clr-bgs3, $amount: 5)
//    }

//    background: $clr-bgs3;
// }

// .prev-bgColor4 {
//    &:hover {
//       background-color: darken($color: $clr-bgs4, $amount: 5)
//    }

//    background: $clr-bgs4;
// }

// .prev-bgColor5 {
//    &:hover {
//       background-color: darken($color: $clr-bgs5, $amount: 5)
//    }

//    background: $clr-bgs5;
// }

.prev-bgc-more {
   &:hover {
      background-color: $clr7;
   }

   background: $clr12;
}

.prev-bgc-more {
   justify-content: center;
   align-items: center;
}