.board-preview-btn {
   cursor: pointer;
   background-color: #091e420a;
   min-height: 104px;
   min-width: 194px;
   margin: 14px 0;
   padding: 0;

   div {
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      border-radius: 4px;
   }

   h2 {
      color: #172b4d;
      margin: auto;
      font-size: 14px;
   }
}

.new-board-img-container {
   max-width: 200px;
}

.new-board-menu {
   justify-content: space-around;
   align-items: center;
   min-height: 700px;
   min-width: 360px;
   padding: 0 50px;

   h2 {
      align-self: flex-start;
   }

   label {
      align-self: flex-start;
      margin-bottom: 4px;
      font-size: 12px;
      font-weight: 500;
   }

   input {
      box-shadow: inset 0 0 0 2px #0079bf;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      border-radius: 3px;
      outline: none;
      border: none;
      padding: 8px 12px;
   }
}

.create-board-btn {
   width: 92%;

}

.edit-new-board-title {
   font-size: 14px;
}


.new-board-bgs-container {
   margin-top: 4px;
   gap: 5px;
}

.prev-bg {

   height: 100%;

   img {
      border-radius: 3px;
   }

   &:hover {
      cursor: pointer;
      // background-color: darken($color: $clr11, $amount: 50);
      opacity: 0.5;
      border-width: 15px;
   }

   .selected {
      border: solid 1px #172b4d;
   }
}


.new-board-colors-container {
   gap: 5px;
}

.prev-bgc {
   width: 40px;
   height: 32px;
   border-radius: 3px;

   &:hover {
      background-color: darken($color: #000000, $amount: 0);
      cursor: pointer;
      border-width: 15px;
   }
}

.prev-bgc1 {
   &:hover {
      background-color: darken($color: $clr-bgs1, $amount: 5)
   }

   background: $clr-bgs1;
}

.prev-bgc2 {
   &:hover {
      background-color: darken($color: $clr-bgs2, $amount: 5)
   }

   background: $clr-bgs2;
}

.prev-bgc3 {
   &:hover {
      background-color: darken($color: $clr-bgs3, $amount: 5)
   }

   background: $clr-bgs3;
}

.prev-bgc4 {
   &:hover {
      background-color: darken($color: $clr-bgs4, $amount: 5)
   }

   background: $clr-bgs4;
}

.prev-bgc5 {
   &:hover {
      background-color: darken($color: $clr-bgs5, $amount: 5)
   }

   background: $clr-bgs5;
}

.prev-bgc-more {
   &:hover {
      background-color: $clr7;
   }

   background: $clr12;
}

.prev-bgc-more {
   justify-content: center;
   align-items: center;
}

.bg1 {}