.add-group {

    margin-inline-end: 8px;
    align-self: flex-start;
    background-color: $clr13;
    padding: 4px;
    max-height: calc(86vh);
    margin: 0 4px;
    min-width: 272px;
    border-radius: 3px;
    background-color: $clr13;

    form{
        padding: 2px 4px 4px 4px ;
    }
    input {
        display: block;
        width: 100%;
        padding: 8px 12px;
        outline: none;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px #0079bf;
        line-height: 20px;
    }

    button {
        float: left;
        margin-inline-end: 4px;
    }

    .add-group-actions {
        margin-top: 4px;
    }

    .add-group-btn {
        @include boarder-header-btn;

        span {
            color: #172b4d;
        }
    }
}


