.board-preview {
   position: relative;
   flex: 1 0 22%;
   max-width: 22.5%;
   min-width: 22%;
   min-height: 98px;
   margin-top: 1.5%;
   padding: 8px;
   border-radius: 4px;
   cursor: pointer;

   img {
      position: absolute;
      right: 10px;
      bottom: 9px;
      width: 16px;
   }

   .stroke {
      filter: invert(86%) sepia(87%) saturate(2%) hue-rotate(230deg) brightness(107%) contrast(101%);

      &:hover {
         filter: invert(65%) sepia(96%) saturate(489%) hue-rotate(9deg) brightness(105%) contrast(105%);
      }
   }

   .fill {
      filter: invert(65%) sepia(96%) saturate(489%) hue-rotate(9deg) brightness(105%) contrast(105%);
   }

   &:hover {
      filter: brightness(90%);
   }

   div {
      min-width: 64px;
      min-height: 22px;
      border-radius: 4px;

      h3 {
         display: inline;
         font-size: 11.8px;
         padding: 3px 8px;
         border-radius: 4px;
         background-color: #ffffffb0;
         color: #172B4D;
      }

      h2 {
         font-size: 18px;
         color: $clr10;
         margin: 2px 0 0;

      }
   }

}

.workspace-main-layout {

   margin: 40px 16px 0;
   max-width: 825px;
   min-width: 288px;
   width: 100%;

}

.board-preview-title{
   text-shadow: 0px 0px 1.5px #000000;
}