.menu-modal {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 12px;
   max-width: 340px;
   box-shadow: 7px 5px 20px -4px rgb(0 0 0);
   background-color: $clr13;
   width: 500px;
   height: 500px;

   // max-height: 100%;
   // overflow: auto;
   .title-container {
      padding: 8px 10px;

      h1 {
         font-size: 18px;
      }
   }

   .user-container {
      &:hover {
         cursor: pointer;
      }
   }

   .menu-layout {
      padding: 15px;
      gap: 10px;
      min-height: 100vh;
      min-width: 316px;

      .archived-items {
         padding: 0 8px;
         gap: 10px;
         cursor: pointer;

         &:hover {
            // background-color: darken($color: $clr13, $amount: 1);
            background-color: $hover-clr;
         }
      }


      .activities-header {
         align-content: center;
         gap: 10px;
         // height: 30px;
         padding: 8px;

         .activity-icon-container {}

         h3 {
            margin-top: 1px;
            font-size: 16px;
         }

         &:hover {
            // background-color: darken($color: $clr13, $amount: 1);
            background-color: $hover-clr;
            cursor: pointer;
         }
      }


   }

   .menu-modal-activities {
      gap: 8px;
      // margin-left: 4px;
      align-items: center;

      .txt {
         .date {
            font-size: 13px;
            font-weight: 400;
         }

         .board-name {
            font-size: 16px;
            font-weight: 500;
         }

         gap: 5px;

         h1 {
            font-size: 16px;
            font-weight: 500;

            span {
               font-size: 14px;
               font-weight: 400;
            }
         }

         a {
            font-size: 14px;
            font-weight: 400;
            text-decoration: underline;

            &:hover {
               cursor: pointer;
            }
         }
      }
   }
}

.archived-item-container {

   // display: flex;

   // .archived-item-details {
   //    display: flex;

   // }
   .span-container {
      margin: 8px 0;
      padding: 0 8px;

      &>*:not(:nth-child(2n)) {
         text-decoration: underline;
         cursor: pointer;
      }

      &:hover {
         color: #172b4d;
      }
   }

}