.task-preview {
   margin: 0 4px 8px;
   padding: 6px 8px 2px;
   border-radius: 0.2em;
   box-shadow: 0 1px 0 #091e4240;
   background-color: $clr10; 

   &:hover {
      background-color: darken($clr10, 5%);
   }

   .task-preview-title { 
      display: block;
      margin-bottom: 4px;
      word-wrap: break-word;
   }

}