* {
    box-sizing: border-box;
}


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    color: $clr1;
    // line-height: 1.6;
    background-color: $clr-label7;
}

body {
    font-size: rem(14px);
    margin: 0;
    // max-width: 1024px;
    // margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


section,
main,
footer {
    // padding: 5px;
}

img {
    width: 100%;
}

p {
    // margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    // text-decoration: underline;
}

.btn {
    @include btn
}

.close-btn {
    @include close-btn
}

textarea {
    resize: none;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: inherit;
}

