* {
    box-sizing: border-box;
}


html {
    font-family: 'Segoe UI', Roboto;
    color: $clr1;
    // line-height: 1.6;
    // background-color: $clr9;
}

body {
    font-size: rem(14px);
    margin: 0;
    // max-width: 1024px;
    // margin: auto;
}

// h1, h2, h3, h4, h5, h6 {
//     font-family: Roboto;
//     margin: 0 0 0.6em;
//     line-height: 1;
// }


section,
main,
footer {
    // padding: 5px;
}

img {
    width: 100%;
}

p {
    // margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    // text-decoration: underline;
}