.app-header {
   padding-left: 10px;
   padding-right: 8px;
   position: fixed;
   z-index: 15;
   color: white;
   top: 0;
   left: 0;
   font-family: Roboto;
   width: 100vw;
   background-color: #026aa7;
   height: 44px;

   .user-login {
      position: absolute;
      right: 3px;
      top: 4px;
      align-self: flex-end;
      gap: 8px;

      &:hover {
         cursor: pointer;
         text-decoration: underline;
      }

      .login-btn {
         color: white;
         font-size: 12px;
         margin-right: 4px;

         &:hover {
            cursor: pointer;
            text-decoration: underline;
         }
      }

      .img-container {
         border-radius: 50%;
         cursor: pointer;
      }
   }
}

.app-header-navbar-container {
   display: flex;
   justify-content: center;
   min-width: 36px;
   min-height: 30px;

   img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(105%) contrast(105%);
   }

   &:hover {
      background-color: #4e97c2;
      cursor: pointer;
   }
}

.app-header-logo-static {
   padding-left: 5px;
   padding-right: 5px;
   justify-content: center;
   align-items: center;
   cursor: pointer;

   &:hover {
      background-color: #4e97c2;
   }

   img {
      &:hover {
         background-color: #4e97c2;
      }
   }
}

.app-header-btn-container {
   gap: 8px;
   justify-content: center;
   align-content: center;
   max-height: 36px;

   Button {
      color: white;
      text-transform: unset;
      font-size: 16px;
      font-weight: 100;
      padding-left: 10px;


      &:hover {
         background-color: #4e97c2;
      }
   }
}