.board-app {

    &.cover-img {
        object-fit: fill;
        height: 100vh;
    }

    .board-header {
        min-height: 52px;
        min-width: 100%;
    }

    *[data-rbd-draggable-context-id] {
        cursor: initial;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: #0000002c;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(155, 153, 153, 0.747);
        border-radius: 10px;
    }
}

.MuiModal-root.css-79ws1d-MuiModal-root::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #0000002c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(155, 153, 153, 0.747);
    border-radius: 10px;
}