.board-group {
    align-self: flex-start;
    position: relative;
    margin: 0 4px;
    max-height: calc(100vh - 120px);
    width: 272px;
    border-radius: 3px;
    background-color: $clr13;
    pointer-events: initial;

    .add-card {
        color: $clr8;
        margin: 2px 8px;
        padding: 4px 8px;
        border-radius: 3px;
        cursor: pointer;
        line-height: 20px;

        .add-icon {
            margin-inline-end: 4px;
            font-size: 16px;
        }

        .add-icon::before {
            background-image: url(../../../img/icon/add.svg);
            filter: invert(30%) sepia(16%) saturate(1134%) hue-rotate(179deg) brightness(99%) contrast(84%);
            background-size: 16px 16px;
            display: inline-block;
            width: 16px;
            height: 14px;
            content: "";
        }

        &:hover {
            background-color: darken($clr13, 6%);
            color: darken($clr8, 14%);
        }
    }

    .task-composer {
        margin-bottom: 8px;

        button {
            margin-inline-end: 4px;
        }

        textArea {
            margin: 0 8px 8px;
            padding: 6px 8px 2px;
            width: 256px;
            height: 54px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, 0.2509803922);
        }
    }

    .add-group-actions {
        margin: 0 8px;
    }

    .group-title {
        padding: 7px 12px 0;

        input {
            padding-right: 10px;
        }
    }

    .group-title input,
    .group-title p {
        margin: 4px;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        background-color: inherit;
        border: none;
    }

    .group-title input {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
        padding: 4px 9px;
        margin: 0 -7px;
        cursor: text;
    }
}

.group-menu-btn {
    width: 35px;
    height: 35px;
    margin: 4px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: $clr12;
    }
}

@media (max-width:802px) {
    .board-group {
        max-height: calc(100vh - 156px);
    }
}

@media (max-width:604px) {
    .board-group {
        max-height: calc(100vh - 198px);
    }
}

@media (max-width:332px) {
    .board-group {
        max-height: calc(100vh - 240px);
    }
}