.task-preview-main {
   position: relative;

   .task-preview-container {
      position: relative;
      margin: 8px 4px 8px;

      .task-preview {
         width: 100%;
         border-radius: 0.2em;
         box-shadow: 0 1px 0 rgba(9, 30, 66, 0.2509803922);
         background-color: #ffffff;
         position: relative;
         border-radius: 3px;
         overflow: hidden;

         .edit-icon {
            display: none;
         }

         &:hover {
            background-color: darken($clr10, 5%);

            .edit-icon {
               display: block;
               position: absolute;
               z-index: 15;
               right: 3.5px;
               top: 3.5px;
               font-size: 25px;
               background-color: #f4f5f7;
               padding: 4px;
               border-radius: 3px;
               color: #42526e;

               &:hover {
                  background-color: $clr13;
               }
            }
         }

         .task-preview-title {
            width: 100%;
            padding: 2px;
            line-height: 20px;
         }

         .task-preview-color {
            width: 100%;
            border-radius: 3px 3px 0 0;
            padding: 6px 8px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .title-over-color {
               font-size: 16px;
               font-weight: 500;
               padding-bottom: 8px;
            }
         }

         .task-preview-img-container {
            max-width: 280px;
            overflow: hidden;
            position: relative;
            display: flex;

            img {
               object-fit: contain;
               height: 100%;
               max-width: 280px;
               border-radius: 3px 3px 0 0;
            }

            .title-shade {
               background: linear-gradient(180deg, #0000, #00000080);
               mix-blend-mode: normal;
               content: "";
               height: 32px;
               left: 0;
               mix-blend-mode: normal;
               position: absolute;
               right: 0;
               top: -32px;
               width: 100%;
            }

            .title-over-img {
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               padding: 8px;
               font-size: 16px;
               font-weight: 500;
               color: $clr10;
               background: linear-gradient(180deg, #00000080, #000);
               overflow: visible;
            }
         }

         .preview-title {
            padding: 4px 8px;
         }
      }
   }
}





