$clr1: #172B4D;
$clr2: #4126ab;
$clr3: #026aa7;
$clr4: #0079bf;
$clr5: #EB5A46;
$clr6: #b04632;
$clr7: #ebecf0;
$clr8: #5e6c84;
$clr9: #026aa7;
$clr10: #ffffff;
$clr11: #F4F5F7;
$clr12: #091e430a;
$clr13: #ebecf0;
// $clr13: #DFE3E6;
$clr14: #FAFBFC;
$clr15: #091e420a;
$clr16: #505f79;
$clr17: #42526e;
$clr18: #091e42;

$clr-label1: #7BC86C;
$clr-label2: #F5DD29;
$clr-label3: #FFAF3F;
$clr-label4: #EF7564;
$clr-label5: #CD8DE5;
$clr-label6: #5BA4CF;
$clr-label7: #29CCE5;
$clr-label8: #6DECA9;
$clr-label9: #FF8ED4;
$clr-label10: #172B4D;

$clr-bgs1: #0079BF;
$clr-bgs2: #D29034;
$clr-bgs3: #519839;
$clr-bgs4: #b04632;
$clr-bgs5: #89609e;
$clr-bgs6: #cd5a91;
$clr-bgs7: #4bbf6b;
$clr-bgs8: #00aecc;
$clr-bgs9: #838c91;



$clr-opa: #ffffff52;
$clr-opa2: #091e420a;


$hover-clr: #091e4214;