$clr1: #172B4D;
$clr2: #4126ab;
$clr3: #026aa7;
$clr4: #0079bf;
$clr5: #EB5A46;
$clr6: #b04632;
$clr7: #ebecf0;
$clr8: #5e6c84;
$clr9: #026aa7;
$clr10: #ffffff;


$clr-label1: #f2d600;
$clr-label2: #cd8313;
$clr-label3: #eb5a46;
$clr-label4: #c377e0;
$clr-label5: #055a8c;
$clr-label6: #00c2e0;
$clr-label7: #51e898;

$clr-opa: rgba(255, 255, 255, 0.322);